
html *
{
   font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: #4F4D53;
  height: 48px;
  width: 100%
}

.logo {
  position: relative;
  left: 25%;
  padding-top: 10px
}

.hero-image {
  padding-top: 250px;
  padding-bottom: 225px;
  background-image: url("public/img_hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4F4D53;
  font: 'Roboto';
  font-size: 50px;
}

.circle-images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.circle {
  padding-left: 50px;
  padding-right: 50px
}

.subtitle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #E8BE02;
  font: 'Roboto';
  font-size: 35px;
}

.about {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4F4D53;
  font: 'Roboto';
  font-size: 25px;
}

.footer {
  background-color: #4F4D53;
  width: 100%;
  height: 320px
}
